<a href="https://colab.research.google.com/github/ms624atyale/Pandas_Stats_Data_Analysis_2025/blob/main/1_DataSeries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **Before we get into conducting statistics, we will learn basic data analysis using Pandas library.**

ğŸ‘€ ğŸ¾ <font color = 'red'> **Index, Series, Element(ì›ì†Œ)**

ğŸ€ Using indexes effectively makes it easy to search, sort, select, and combine data.
  
    ì¸ë±ìŠ¤ë¥¼ ì˜ í™œìš©í•˜ë©´ ë°ì´í„°ê°’ì˜ íƒìƒ‰, ì •ë ¬, ì„ íƒ, ê²°í•© ë“± ë°ì´í„° ì¡°ì‘ì„ ì‰½ê²Œ í•  ìˆ˜ ìˆë‹¤.


|Index Name/label ì¸ë±ìŠ¤ì´ë¦„(optional)| i0 | i1 | i2 | i3 | ... | in |
|:|-|-|-|-|-|-|
|Index Value ë°ì´í„°ê°’(ì›ì†Œ) | V0 | V1 | V2 | V3 | ... | Vn |
|Integer position ì •ìˆ˜í˜•ìœ„ì¹˜ì¸ë±ìŠ¤(default)|0|1|2|3|...|n|

<font color = 'blue'>ğŸ‘€ ğŸ¾ Exercise**

|Index Name/label | a | b | c | d | e | f |
|:|-|-|-|-|-|-|
|Index Value | 10 | 20 | 30 | 40 | 50 | 60 |
|Integer position|0|1|2|3|4|5|



Series['c'] â¡ï¸  30

Series["c"] â¡ï¸  30

Series[2] â¡ï¸  30

Series[['d'],['e']] â¡ï¸  40, 50

Series[[3,4]] â¡ï¸  40, 50
* ì—¬ëŸ¬ê°œì˜ ì¸ë±ìŠ¤ë¥¼ ë¦¬ìŠ¤íŠ¸ í˜•íƒœë¡œ ì…ë ¥í•  ë•Œì—ëŠ” ëŒ€ê´„í˜¸ ([]) ì•ˆì— ë„£ê¸°

Series['d':'e'] â¡ï¸  40, 50

Series[3:5] â¡ï¸  40, 50

In [ ]:
#@markdown <font color = 'red'> **ğŸ¹ Student Activity 1 [list data] â¤µï¸**

import pandas as pd
list_data = ['2025-01-01', 3.14, 'ABC', 100, True]
sr = pd.Series(list_data)
print(sr)

0    2025-01-01
1          3.14
2           ABC
3           100
4          True
dtype: object

In [ ]:
#@markdown <font color = 'red'> **ğŸ¹ Student Activity 2 {dictionary data} â¤µï¸**

!pip install pandas
import pandas as pd
dict_data = {'a':1, 'b':2, 'c':3}

sr = pd.Series(dict_data)

print(type(sr)) #ì‹œë¦¬ì¦ˆ í´ë˜ìŠ¤. ì‹œë¦¬ì¦ˆëŠ” ë°ì´í„°ê°€ ìˆœì°¨ì ìœ¼ë¡œ ë‚˜ì—´ëœ 1ì°¨ì› ë°°ì—´
print('\n')
print(sr) #dtype: int64 (ì •ìˆ˜í˜•)

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

ğŸ€ pd.Series() is a class in Pandas, not just a function. It creates a one-dimensional labeled array capable of holding any data type (integers, floats, strings, Python objects, etc.).

    Series() is a constructor for creating a Series object (i.e., a one-dimensional labeled array).


ğŸ‘€ ğŸ¾ **list data or tuple data with [Index values separated by a comma]**

* pandas.Series() with two arguments separated by a comma
  * argument1 -> variable name
  * argument 2 -> index name

In [ ]:
#@markdown <font color = 'red'> **ğŸ¹ Student Activity 3 (tuple data) â¤µï¸**
import pandas as pd
tuple_data = ('Emma', '2000.12.25', 'Female', True)
sr = pd.Series(tuple_data, index=['Name', 'DOB', 'Gender', 'Student'])
print(sr)

print(sr[0])
print(sr['Name'])

Name             Emma
DOB        2000.12.25
Gender         Female
Student          True
dtype: object
Emma
Emma

ğŸ‘€ ğŸ¾ **Print part of list data**
* print([]) ëŒ€ê´„í˜¸ ì‚¬ìš©
* use additional [ ] for an embedded list

In [ ]:
#@markdown <font color = 'red'> **ğŸ¹ Student Activity 4 â¤µï¸**

#@markdown <font color = 'red'> **Print part of [list data]**

import pandas as pd
tuple_data = ('Emma', '2000.12.25', 'Female', True)

 #ì •ìˆ˜í˜• ìœ„ì¹˜ ì¸ë±ìŠ¤ ëŒ€ì‹  ì¸ë±ìŠ¤ ì´ë¦„ì„ ë”°ë¡œ ì§€ì •
sr = pd.Series(tuple_data, index=['Name', 'DOB', 'Gender', 'Student'])

print(sr[[1,2]])
print('\n')
print(sr[['DOB','Gender']])

DOB       2000.12.25
Gender        Female
dtype: object


DOB       2000.12.25
Gender        Female
dtype: object