<a href="https://colab.research.google.com/github/ms624atyale/Data_Analysis/blob/main/4_DataFrame_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ë²”ìœ„ ìŠ¬ë¼ì´ì‹± í™œìš©

* DataFrameObject.iloc[ì‹œì‘ì¸ë±ìŠ¤:ëì¸ë±ìŠ¤:ìŠ¬ë¼ì´ì‹±ê°„ê²©]

ì›ì†Œ ì„ íƒ
* ì¸ë³ ì´ë¦„ DataFrameObject.loc[rowí–‰ì¸ë±ìŠ¤, columnì—´ì´ë¦„]
* ì¸ë³ ì´ë¦„ DataFrameObject.iloc[rowí–‰ë²ˆí˜¸, columnì—´ë²ˆí˜¸]

In [ ]:
#@markdown  **ğŸ¹ Student Activity 8 â¤µï¸**

#@markdown  **Choose a column ì—´ ì„ íƒ**

#@markdown  **column name[]**

import pandas as pd

exam_data1 = {'Math':[90, 80, 70], 'English':[98, 89, 95],
             'Music':[85, 95, 100], 'Gym':[100,90,90]}

df = pd.DataFrame(exam_data1, index = ['Simon', 'Emma', 'Mary'])
print(df)

#df.iloc[::2]
#df.iloc[0:3:2]
#df.iloc[::-1]

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90

####<font color = 'blue'> ğŸ‘€ğŸ¾ **ë°ì´í„°í”„ë ˆì„ ë³€í™˜ Converting to basic data frame from dictionary data** 1ï¸âƒ£ â¤µï¸

In [ ]:
#-*- coding: utf-8 -*-

import pandas as pd

#DataFrame( ) í•¨ìˆ˜ë¡œ ë°ì´í„°í”„ë ˆì„ ë³€í™˜, ë³€ìˆ˜ dfì— ì €ì¥

exam_data2 = {'Name' : ['Simon', 'Mathew', 'Andy'],
             'Math' : [90, 80, 70],
             'English' : [98, 89, 95],
             'Music' : [85, 95, 100],
             'Gym' : [100, 90, 90]}

df = pd.DataFrame(exam_data2)

print(df)
print('\n')

     Name  Math  English  Music  Gym
0   Simon    90       98     85  100
1  Mathew    80       89     95   90
2    Andy    70       95    100   90

####<font color = 'blue'> ğŸ‘€ğŸ¾ **í–‰ ì¸ë±ìŠ¤ ì‹¤í–‰í•˜ê¸° set_index( )** 2ï¸âƒ£  â¤µï¸
  - íŠ¹ì • ì—´(column)ì„ ë°ì´í„°í”„ë ˆì„ì˜ í–‰(row) ì¸ë±ìŠ¤ë¡œ ì„¤ì •

In [ ]:
ndf = df.set_index(['Name'])
print(ndf)
#df.set_index('Name', inplace=True)
#print(df)

        Math  English  Music  Gym
Name
Simon     90       98     85  100
Mathew    80       89     95   90
Andy      70       95    100   90

####<font color = 'red'> ğŸ‘€ğŸ¾ **ë°ì´í„°í”„ë ˆì„ ë³€í™˜ Converting to basic data frame from dictionary data** 1 â¤µï¸

In [ ]:
#-*- coding: utf-8 -*-

import pandas as pd

#DataFrame( ) í•¨ìˆ˜ë¡œ ë°ì´í„°í”„ë ˆì„ ë³€í™˜, ë³€ìˆ˜ dfì— ì €ì¥

dict_data = {'c0' : [1,2,3],
             'c1' : [4,5,6],
             'c2' : [7,8,9],
             'c3' : [10,11,12],
             'c4' : [13,14,15]}

df = pd.DataFrame(dict_data)
print(df)
print('\n')

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

####<font color = 'red'> ğŸ‘€ğŸ¾ **í–‰ ì¸ë±ìŠ¤ ì‹¤í–‰í•˜ê¸° set_index( ) 2-1** â¤µï¸

In [ ]:
#Dictionaryë°ì´í„°ë¥¼ í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜í•˜ë©°, í–‰ ì¸ë±ìŠ¤ë¥¼ 'r0', 'r1', 'r2'ë¡œ ì¬ì§€ì •

df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df)
print('\n')

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

####<font color = 'red'> ğŸ‘€ğŸ¾ **#í–‰(row) ì¸ë±ìŠ¤ ì¬ë°°ì—´ reindex( ) 2-2** â¤µï¸

In [ ]:
#í–‰ ì¸ë±ìŠ¤ë¥¼ [r0, r1, r2, r3, r4]ë¡œ ì¬ì§€ì •
new_index = ['r0','r1','r2','r3','r4']
ndf = df.reindex(new_index)
print(ndf)
print('\n')

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

####<font color = 'red'> ğŸ‘€ğŸ¾ **#reindex ( )ë¡œ ë°œìƒí•œ NaN ê°’ì„ fill_value = 0 ì„ ì‚¬ìš©í•˜ì—¬ NaNì„ ìˆ«ì 0ìœ¼ë¡œ ì±„ìš°ê¸° 3** â¤µï¸

In [ ]:
new_index = ['r0','r1','r2','r3','r4']
ndf2 = df.reindex(new_index, fill_value=0)
print(ndf2)
print('\n')

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

####<font color = 'red'> ğŸ‘€ğŸ¾ **í–‰(row) ì¸ë±ìŠ¤ ì´ˆê¸°í™” reset_index( ) 4** â¤µï¸

In [ ]:
ndf2=df.reset_index()
print(ndf2)

  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

####<font color = 'red'> ğŸ‘€ğŸ¾ **í–‰(row) ì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„° ì •ë ¬ sort_index( ) 5** â¤µï¸

In [ ]:
ndf3 = df.sort_index()
print(ndf3)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

####<font color = 'red'> ğŸ‘€ğŸ¾ **í–‰(row) ì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°ë¥¼ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë ¤ë©´ sort_index(ascending=False) & ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë ¤ë©´ sort_index(ascending=True) 5** â¤µï¸

In [ ]:
ndf4=df.sort_index(ascending=False)
print(ndf4)

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

ğŸ‘€ğŸ¾ íŠ¹ì • ì—´ì˜ ë°ì´í„° ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°í”„ë ˆì„ ë‚´ë¦¼ì°¨ìˆœ/ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ê¸° í–‰(row) ì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°ë¥¼ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë ¤ë©´ ort_vales(by='cX', ascending=False) & ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë ¤ë©´ sort_vales(by='cX', ascending=True) 6 â¤µï¸

In [ ]:
ndf5=df.sort_values(by='c1', ascending=False)
print(ndf5)
print('\n')

ndf6=df.sort_values(by='c1', ascending=True)
print(ndf6)

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13


    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15