<a href="https://colab.research.google.com/github/ms624atyale/Data_Analysis/blob/main/5_Series_Operation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ğŸ¹ Pandas Series Operation íŒë‹¤ìŠ¤ ì‹œë¦¬ì¦ˆ ì—°ì‚°
- ì‚¬ì „ë°ì´í„°ë¥¼ íŒë‹¤ìŠ¤ ì‹œë¦¬ì¦ˆë°ì´í„°ë¡œ ë§Œë“¤ê¸°

In [ ]:
import pandas as pd
student1 = pd.Series({'Literature':100, 'English':'80', 'Math':90})
print(student1)
print('\n')

#student1 = pd.to_numeric(student1)  # Convert values to numeric data type, >> or >> student1 = student1.astype(int) to convert values to integer data type, or >> student1 = student1.astype(float) to convert values to float data type
student1 = student1.astype(int)
percentage = student1/200
print(percentage)
print('\n')
print(type(percentage))

Literature    100
English        80
Math           90
dtype: object


Literature    0.50
English       0.40
Math          0.45
dtype: float64


<class 'pandas.core.series.Series'>

### ğŸ¹ Pandas Series vs. Series
- ì‹œë¦¬ì¦ˆì˜¤ ì‹œë¦¬ì¦ˆ ì‚¬ì´ì— ì‚¬ì¹™ì—°ì‚° (e.g., addition, subtraction, multiplication, division)ì„ ì²˜ë¦¬í•˜ëŠ” ë°©ë²•

In [ ]:
import pandas as pd

student1 = pd.Series({'English':88, 'Literature':90, 'Math':98})
student2 = pd.Series({'Literature':78, 'Math':90, 'English':'80'})
print(student1)
print('\n')
print(student2)
print('\n')

#ë‘ í•™ìƒì˜ ì ìˆ˜ë¡œ ì‚¬ì¹™ì—°ì‚° ìˆ˜í–‰ í•´ ë³´ê¸°

student1 = student1.astype(int)
student2 = student2.astype(int)

addition = student1 + student2
print(addition)
print('\n')

subtraction = student1-student2
print(subtraction)
print('\n')

multiplication = student1*student2
print(multiplication)
print('\n')

division = student1/student2
print(division)
print('\n')

result = pd.DataFrame([addition, subtraction, multiplication, division], index = ['addition +', 'subtraction -', 'multiplication *', 'division /'])
print(result)

English       88
Literature    90
Math          98
dtype: int64


Literature    78
Math          90
English       80
dtype: object


English       168
Literature    168
Math          188
dtype: int64


English        8
Literature    12
Math           8
dtype: int64


English       7040
Literature    7020
Math          8820
dtype: int64


English       1.100000
Literature    1.153846
Math          1.088889
dtype: float64


                  English   Literature         Math
addition +          168.0   168.000000   188.000000
subtraction -         8.0    12.000000     8.000000
multiplication *   7040.0  7020.000000  8820.000000
division /            1.1     1.153846     1.088889

### ğŸ¹ Pandas Operation Method ì—°ì‚°ë©”ì†Œë“œ
* NaNì´ ë‚˜ì˜¤ëŠ” ì…€ì€ ê²°ê³¼ê°’ì´ ëª¨ë‘ NaN

In [ ]:
import pandas as pd
import numpy as np

student1 = pd.Series({'English':np.NaN, 'Literature':90, 'Math':98})
student2 = pd.Series({'Math':90, 'English':'80'})
print(student1)
print('\n')
print(student2)
print('\n')

#ë‘ í•™ìƒì˜ ì ìˆ˜ë¡œ ì‚¬ì¹™ì—°ì‚° ìˆ˜í–‰ í•´ ë³´ê¸°

addition = student1 + student2
print(addition)
print('\n')

subtraction = student1-student2
print(subtraction)
print('\n')

multiplication = student1*student2
print(multiplication)
print('\n')

division = student1/student2
print(division)
print('\n')

result = pd.DataFrame([addition, subtraction, multiplication, division], index = ['addition +', 'subtraction -', 'multiplication *', 'division /'])
print(result)

English        NaN
Literature    90.0
Math          98.0
dtype: float64


Math       90
English    80
dtype: object


English         NaN
Literature      NaN
Math          188.0
dtype: object


English       NaN
Literature    NaN
Math          8.0
dtype: object


English          NaN
Literature       NaN
Math          8820.0
dtype: object


English            NaN
Literature         NaN
Math          1.088889
dtype: object


                  English  Literature         Math
addition +            NaN         NaN   188.000000
subtraction -         NaN         NaN     8.000000
multiplication *      NaN         NaN  8820.000000
division /            NaN         NaN     1.088889

###ğŸ¹ Pandas Operation Method ì—°ì‚°ë©”ì†Œë“œ
* NaNì„ ì •ìˆ˜ 0 ìœ¼ë¡œ ì±„ì›Œë„£ê¸° (ì¸ì fill_value = 0)
* **pd.to_numeric() function** is used to convert the values in student2 to the numeric data type. The **errors='coerce' argument **ensures that any invalid values are converted to NaN. This conversion allows four operations to be performed correctly.

In [8]:
import pandas as pd
import numpy as np

student1 = pd.Series({'English':np.NaN, 'Literature':90, 'Math':98})
student2 = pd.Series({'Math':90, 'English':'80'})

#Add this step for converting string to numeric
student2 = pd.to_numeric(student2, errors='coerce')

sr_add = student1.add(student2, fill_value = 0)
sr_sub = student1.sub(student2, fill_value = 0)
sr_mul = student1.mul(student2, fill_value = 0)
sr_div = student1.div(student2, fill_value = 0)

sr_result = pd.DataFrame([sr_add, sr_sub, sr_mul, sr_div], index = ["Addition", "Subtraction", "Multiplication", "Division"])
print(sr_result)

                English  Literature         Math
Addition           80.0        90.0   188.000000
Subtraction       -80.0        90.0     8.000000
Multiplication      0.0         0.0  8820.000000
Division            0.0         inf     1.088889