<a href="https://colab.research.google.com/github/ms624atyale/Data_Analysis/blob/main/6_Read_Write_Files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**Read and write files in various format**
- csv
- json
- html
- clipboard
- excel
- hdf
- sql

pp.058-062 (cf., ì˜µì…˜ ì„¤ëª… í‘œëŠ” ì±… ì°¸ì¡°)

[ê³µê³µë°ì´í„°í¬í„¸](https://www.data.go.kr/)
- csv, xlxs ë“±ì˜ ìë£Œë¥¼ ë‹¤ìš´ë¡œë“œ ë°›ì„ ìˆ˜ ìˆëŠ” ëŒ€í•œë¯¼êµ­ ê³µì‹ ì „ìì •ë¶€ ëˆ„ë¦¬ì§‘

###**<font color = 'red'> ğŸ¹ğŸ¾ Read and write the csv format**

In [ ]:
# csv (comma separated values) format

import pandas as pd

#file directory
file = "/content/sample_data/sample.csv"

#read_csv() functionìœ¼ã„¹ ì‚¬ìš©í•˜ì—¬ ë°ì´í„°í”„ë ˆì„ ë³€í™˜, ê¸°ë³¸ê°’ 0í–‰ì„ ì—´ ì§€ì • (ì—´ì§€ì •ì´ ë­ì•¼??)
df1 = pd.read_csv(file)
print(df1)
print('\n')

#header = None ì„ íƒ
df2 = pd.read_csv(file, header = None)
print(df2)
print('\n')

#hearder = 1 ì„ íƒ
df3 = pd.read_csv(file, header = 1)
print(df3)
print('\n')

#index_col = False (ì¸ë±ìŠ¤ ì§€ì •í•˜ì§€ ì•ŠìŒ)
df4 = pd.read_csv(file, index_col = False)
print(df4)
print('\n')

#index_col = 'c0' ì²« ë²ˆì§¸ ì—´ì„ ì¸ë±ìŠ¤ ì§€ì •
df5 = pd.read_csv(file, index_col = 'c0')
print(df5)

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9


    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9


   0  1  4  7
0  1  2  5  8
1  2  3  6  9


   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9


    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9

###**<font color = 'red'> ğŸ¹ğŸ¾ Read and write the excel format**
- use element (engine = 'openpyxl') for .xlxs
- use element (engine = 'xlrd') for .xls

In [2]:
import pandas as pd
df1 = pd.read_excel("/content/sample_data/sample_COVID19_vaccine_Seoul_SouthGate_byweek_20220613.xlsx", engine = 'openpyxl') #header = 0 (by default)
df2 = pd.read_excel("/content/sample_data/sample_COVID19_vaccine_Seoul_SouthGate_byweek_20220613.xlsx", engine = 'openpyxl', header = None) #header unapplied

print(df1)
print('\n')
print(df2)

                 ì„œëŒ€ë¬¸êµ¬ ì½”ë¡œë‚˜19 ì˜ˆë°©ì ‘ì¢… í˜„í™©(2021. 2ì›”~2022. 4ì›”) Unnamed: 1 Unnamed: 2  \
0    â€» ìƒê¸° í†µê³„ëŠ” ì§ˆë³‘ë³´ê±´í†µí•©ì‹œìŠ¤í…œì— ë”°ë¥¸ ì ì • ìˆ˜ì¹˜ë¡œ ë³€ë™ ê°€ëŠ¥í•¨. (ìë£Œìˆ˜ì‹ ì¼ â€˜...        NaN        NaN
1                                                   ì§€ì—­  `21. 2~6ì›”        NaN
2                                                  NaN      1ì°¨ì ‘ì¢…ì      2ì°¨ì ‘ì¢…ì
3                                                    ê³„      97631      36532
4                                                  ì„œëŒ€ë¬¸      97631      36532
..                                                 ...        ...        ...
233                                   ì œì£¼íŠ¹ë³„ìì¹˜ë„ì„œê·€í¬ì‹œë™ë¶€ë³´ê±´ì†Œ        ì¹˜ë„ì„œ      16547
234                                  ì œì£¼íŠ¹ë³„ìì¹˜ë„ì„œê·€í¬ì‹œì„œê·€í¬ë³´ê±´ì†Œ        ì¹˜ë„ì„œ      32541
235                                   ì œì£¼íŠ¹ë³„ìì¹˜ë„ì„œê·€í¬ì‹œì„œë¶€ë³´ê±´ì†Œ        ì¹˜ë„ì„œ      10067
236                                       ì œì£¼íŠ¹ë³„ìì¹˜ë„ì„œë¶€ë³´ê±´ì†Œ        ì¹˜ë„ì„œ      20177
237                                       ì œì£¼íŠ¹ë³„ìì¹˜ë„ì œì£¼ë³´ê±´ì†Œ        ì¹˜ë„ì œ     104828

            Unnamed: 3 Unnamed: 4          Unnamed: 5 Unnamed: 6  \
0                  NaN        NaN                 NaN        NaN
1    `21.7.4.0ì‹œ ê¸°ì¤€(ëˆ„ì )        NaN  `21.7.11.0ì‹œ ê¸°ì¤€(ëˆ„ì )        NaN
2                1ì°¨ì ‘ì¢…ì      2ì°¨ì ‘ì¢…ì               1ì°¨ì ‘ì¢…ì      2ì°¨ì ‘ì¢…ì
3                97673      39218               99372      42760
4                97673      39218               99372      42760
..                 ...        ...                 ...        ...
233               5045      19487                 NaN        NaN
234               9983      40226                 NaN        NaN
235               3342      12646                 NaN        NaN
236               7017      24195                 NaN        NaN
237              35120     138540                 NaN        NaN

             Unnamed: 7 Unnamed: 8           Unnamed: 9  ... Unnamed: 134  \
0                   NaN        NaN                  NaN  ...          NaN
1    `21.7.18.0ì‹œ ê¸°ì¤€(ëˆ„ì )        NaN  `21. 7.25.0ì‹œ ê¸°ì¤€(ëˆ„ì )  ...          NaN
2                 1ì°¨ì ‘ì¢…ì      2ì°¨ì ‘ì¢…ì                1ì°¨ì ‘ì¢…ì  ...        3ì°¨ì ‘ì¢…ì
3                102315      47167               107205  ...       195069
4                102315      47167               107205  ...       195069
..                  ...        ...                  ...  ...          ...
233                 NaN        NaN                  NaN  ...          NaN
234                 NaN        NaN                  NaN  ...          NaN
235                 NaN        NaN                  NaN  ...          NaN
236                 NaN        NaN                  NaN  ...          NaN
237                 NaN        NaN                  NaN  ...          NaN

    Unnamed: 135        Unnamed: 136 Unnamed: 137 Unnamed: 138 Unnamed: 139  \
0            NaN                 NaN          NaN          NaN          NaN
1            NaN  `22.5.22.0ì‹œ ê¸°ì¤€(ëˆ„ì )          NaN          NaN          NaN
2          4ì°¨ì ‘ì¢…ì               1ì°¨ì ‘ì¢…ì        2ì°¨ì ‘ì¢…ì        3ì°¨ì ‘ì¢…ì        4ì°¨ì ‘ì¢…ì
3          18890              269051       266344       195313        20977
4          18890              269051       266344       195313        20977
..           ...                 ...          ...          ...          ...
233          NaN                 NaN          NaN          NaN          NaN
234          NaN                 NaN          NaN          NaN          NaN
235          NaN                 NaN          NaN          NaN          NaN
236          NaN                 NaN          NaN          NaN          NaN
237          NaN                 NaN          NaN          NaN          NaN

           Unnamed: 140 Unnamed: 141 Unnamed: 142 Unnamed: 143
0                   NaN          NaN          NaN          NaN
1    `22.5.29.0ì‹œ ê¸°ì¤€(ëˆ„ì )          NaN          NaN          NaN
2                 1ì°¨ì ‘ì¢…ì        2ì°¨ì ‘ì¢…ì        3ì°¨ì ‘ì¢…ì        4ì°¨ì ‘ì¢…ì
3                269089       266460       195530        22492
4                269089       266460       195530        22492
..                  ...          ...          ...          ...
233                 NaN          NaN          NaN          NaN
234                 NaN          NaN          NaN          NaN
235                 NaN          NaN          NaN          NaN
236                 NaN          NaN          NaN          NaN
237                 NaN          NaN          NaN          NaN

[238 rows x 144 columns]


                                                   0          1       2    \
0                ì„œëŒ€ë¬¸êµ¬ ì½”ë¡œë‚˜19 ì˜ˆë°©ì ‘ì¢… í˜„í™©(2021. 2ì›”~2022. 4ì›”)        NaN     NaN
1    â€» ìƒê¸° í†µê³„ëŠ” ì§ˆë³‘ë³´ê±´í†µí•©ì‹œìŠ¤í…œì— ë”°ë¥¸ ì ì • ìˆ˜ì¹˜ë¡œ ë³€ë™ ê°€ëŠ¥í•¨. (ìë£Œìˆ˜ì‹ ì¼ â€˜...        NaN     NaN
2                                                   ì§€ì—­  `21. 2~6ì›”     NaN
3                                                  NaN      1ì°¨ì ‘ì¢…ì   2ì°¨ì ‘ì¢…ì
4                                                    ê³„      97631   36532
..                                                 ...        ...     ...
234                                   ì œì£¼íŠ¹ë³„ìì¹˜ë„ì„œê·€í¬ì‹œë™ë¶€ë³´ê±´ì†Œ        ì¹˜ë„ì„œ   16547
235                                  ì œì£¼íŠ¹ë³„ìì¹˜ë„ì„œê·€í¬ì‹œì„œê·€í¬ë³´ê±´ì†Œ        ì¹˜ë„ì„œ   32541
236                                   ì œì£¼íŠ¹ë³„ìì¹˜ë„ì„œê·€í¬ì‹œì„œë¶€ë³´ê±´ì†Œ        ì¹˜ë„ì„œ   10067
237                                       ì œì£¼íŠ¹ë³„ìì¹˜ë„ì„œë¶€ë³´ê±´ì†Œ        ì¹˜ë„ì„œ   20177
238                                       ì œì£¼íŠ¹ë³„ìì¹˜ë„ì œì£¼ë³´ê±´ì†Œ        ì¹˜ë„ì œ  104828

                   3       4                   5      6                   7    \
0                  NaN     NaN                 NaN    NaN                 NaN
1                  NaN     NaN                 NaN    NaN                 NaN
2    `21.7.4.0ì‹œ ê¸°ì¤€(ëˆ„ì )     NaN  `21.7.11.0ì‹œ ê¸°ì¤€(ëˆ„ì )    NaN  `21.7.18.0ì‹œ ê¸°ì¤€(ëˆ„ì )
3                1ì°¨ì ‘ì¢…ì   2ì°¨ì ‘ì¢…ì               1ì°¨ì ‘ì¢…ì  2ì°¨ì ‘ì¢…ì               1ì°¨ì ‘ì¢…ì
4                97673   39218               99372  42760              102315
..                 ...     ...                 ...    ...                 ...
234               5045   19487                 NaN    NaN                 NaN
235               9983   40226                 NaN    NaN                 NaN
236               3342   12646                 NaN    NaN                 NaN
237               7017   24195                 NaN    NaN                 NaN
238              35120  138540                 NaN    NaN                 NaN

       8                    9    ...     134    135                 136  \
0      NaN                  NaN  ...     NaN    NaN                 NaN
1      NaN                  NaN  ...     NaN    NaN                 NaN
2      NaN  `21. 7.25.0ì‹œ ê¸°ì¤€(ëˆ„ì )  ...     NaN    NaN  `22.5.22.0ì‹œ ê¸°ì¤€(ëˆ„ì )
3    2ì°¨ì ‘ì¢…ì                1ì°¨ì ‘ì¢…ì  ...   3ì°¨ì ‘ì¢…ì  4ì°¨ì ‘ì¢…ì               1ì°¨ì ‘ì¢…ì
4    47167               107205  ...  195069  18890              269051
..     ...                  ...  ...     ...    ...                 ...
234    NaN                  NaN  ...     NaN    NaN                 NaN
235    NaN                  NaN  ...     NaN    NaN                 NaN
236    NaN                  NaN  ...     NaN    NaN                 NaN
237    NaN                  NaN  ...     NaN    NaN                 NaN
238    NaN                  NaN  ...     NaN    NaN                 NaN

        137     138    139                 140     141     142    143
0       NaN     NaN    NaN                 NaN     NaN     NaN    NaN
1       NaN     NaN    NaN                 NaN     NaN     NaN    NaN
2       NaN     NaN    NaN  `22.5.29.0ì‹œ ê¸°ì¤€(ëˆ„ì )     NaN     NaN    NaN
3     2ì°¨ì ‘ì¢…ì   3ì°¨ì ‘ì¢…ì  4ì°¨ì ‘ì¢…ì               1ì°¨ì ‘ì¢…ì   2ì°¨ì ‘ì¢…ì   3ì°¨ì ‘ì¢…ì  4ì°¨ì ‘ì¢…ì
4    266344  195313  20977              269089  266460  195530  22492
..      ...     ...    ...                 ...     ...     ...    ...
234     NaN     NaN    NaN                 NaN     NaN     NaN    NaN
235     NaN     NaN    NaN                 NaN     NaN     NaN    NaN
236     NaN     NaN    NaN                 NaN     NaN     NaN    NaN
237     NaN     NaN    NaN                 NaN     NaN     NaN    NaN
238     NaN     NaN    NaN                 NaN     NaN     NaN    NaN

[239 rows x 144 columns]

###**<font color = 'red'> ğŸ¹ğŸ¾ Read and write the html format**
- visit a webpage.
 - e.g., google.com â¡ï¸ hold <CONTROL> + Click â¡ï¸ save as <Google> with the format of <Webpage, HTML Only> â¡ï¸ hit Upload â¡ï¸ select the <Google.html>
>
- [ì •ë³´ë¬¸í™”ì‚¬ íŒŒì´ì¬ ë¨¸ì‹ ëŸ¬ë‹ íŒë‹¤ìŠ¤ ë°ì´í„° ë¶„ì„](http://www.infopub.co.kr/new/include/detail.asp?sku=05000266) â¡ï¸ ìƒ˜í”Œìë£Œ ë‹¤ìš´ë¡œë“œ (ìš°ì¸¡ í•˜ë‹¨)

In [9]:
import pandas as pd

url = "/content/sample_data/sample.html"

#html ì›¹í˜ì´ì§€ì˜ í‘œë¥¼ ê°€ì ¸ì™€ì„œ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜
tables = pd.read_html(url)

#í‘œ ê°œìˆ˜ í™•ì¸
print(len(tables))
print('\n')

#í‘œ ë¦¬ìŠ¤íŠ¸ì˜ ì›ì†Œë¥¼ ë°˜ë³µí•˜ë©´ì„œ (interating the element of the table list) í™”ë©´ ì¶œë ¥
for i in range(len(tables)):
  print("tables[%s]" %i)
  print(tables[i])
  print('\n')

#íŒŒì´ì¬ íŒ¨í‚¤ì§€ ì •ë³´ê°€ ë“¤ì–´ ìˆëŠ” ë‘ ë²ˆì§¸ ë°ì´í„°í”„ë ˆì„ì„ ì„ íƒí•˜ì—¬ df ë³€ìˆ˜ì— ì €ì¥
df = tables[i]

#name ì—´ì„ ì¸ë±ìŠ¤ë¡œ ì €ì¥
df.set_index(['name'], inplace = True)
print(df)

2


tables[0]
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9


tables[1]
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True


            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True