<a href="https://colab.research.google.com/github/ms624atyale/Data_Analysis/blob/main/6_Read_Write_Files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**Read and write files in various format**
- csv
- json
- html
- clipboard
- excel
- hdf
- sql

pp.058-062 (cf., ì˜µì…˜ ì„¤ëª… í‘œëŠ” ì±… ì°¸ì¡°)

[ê³µê³µë°ì´í„°í¬í„¸](https://www.data.go.kr/)
- csv, xlxs ë“±ì˜ ìë£Œë¥¼ ë‹¤ìš´ë¡œë“œ ë°›ì„ ìˆ˜ ìˆëŠ” ëŒ€í•œë¯¼êµ­ ê³µì‹ ì „ìì •ë¶€ ëˆ„ë¦¬ì§‘

###**<font color = 'red'> ğŸ¹ğŸ¾ Read and write the csv format**

In [ ]:
# csv (comma separated values) format

import pandas as pd

#file directory
file = "/content/sample_data/sample.csv"

#read_csv() functionìœ¼ã„¹ ì‚¬ìš©í•˜ì—¬ ë°ì´í„°í”„ë ˆì„ ë³€í™˜, ê¸°ë³¸ê°’ 0í–‰ì„ ì—´ ì§€ì • (ì—´ì§€ì •ì´ ë­ì•¼??)
df1 = pd.read_csv(file)
print(df1)
print('\n')

#header = None ì„ íƒ
df2 = pd.read_csv(file, header = None)
print(df2)
print('\n')

#hearder = 1 ì„ íƒ
df3 = pd.read_csv(file, header = 1)
print(df3)
print('\n')

#index_col = False (ì¸ë±ìŠ¤ ì§€ì •í•˜ì§€ ì•ŠìŒ)
df4 = pd.read_csv(file, index_col = False)
print(df4)
print('\n')

#index_col = 'c0' ì²« ë²ˆì§¸ ì—´ì„ ì¸ë±ìŠ¤ ì§€ì •
df5 = pd.read_csv(file, index_col = 'c0')
print(df5)

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9


    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9


   0  1  4  7
0  1  2  5  8
1  2  3  6  9


   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9


    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9

###**<font color = 'red'> ğŸ¹ğŸ¾ Read and write the excel format**
- use element (engine = 'openpyxl') for .xlxs
- use element (engine = 'xlrd') for .xls

In [10]:
import pandas as pd
df1 = pd.read_excel("/content/sample_data/á„‚á…¡á†·á„‡á…®á†¨á„’á…¡á†«á„‡á…¡á†¯á„Œá…¥á†«á„Œá…¥á†«á„…á…§á†¨á„…á…£á†¼.xlsx", engine = 'openpyxl') #header = 0 (by default)
df2 = pd.read_excel("/content/sample_data/á„‚á…¡á†·á„‡á…®á†¨á„’á…¡á†«á„‡á…¡á†¯á„Œá…¥á†«á„Œá…¥á†«á„…á…§á†¨á„…á…£á†¼.xlsx", engine = 'openpyxl', header = None) #header unapplied

print(df1)
print('\n')
print(df2)

  ì „ë ¥ëŸ‰ (ì–µã¾h) ë°œì „ ì „ë ¥ë³„  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        ë‚¨í•œ     í•©ê³„  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     ìˆ˜ë ¥    64    51    49    60    41    55    52    54  ...    50
2       NaN     í™”ë ¥   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    ì›ìë ¥   529   563   565   581   587   670   739   771  ...  1429
4       NaN    ì‹ ì¬ìƒ     -     -     -     -     -     -     -     -  ...     -
5        ë¶í•œ     í•©ê³„   277   263   247   221   231   230   213   193  ...   236
6       NaN     ìˆ˜ë ¥   156   150   142   133   138   142   125   107  ...   133
7       NaN     í™”ë ¥   121   113   105    88    93    88    88    86  ...   103
8       NaN    ì›ìë ¥     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]


          0       1     2     3     4     5     6     7     8     9   ...  \
0  ì „ë ¥ëŸ‰ (ì–µã¾h)  ë°œì „ ì „ë ¥ë³„  1990  1991  1992  1993  1994  1995  1996  1997  ...
1         ë‚¨í•œ      í•©ê³„  1077  1186  1310  1444  1650  1847  2055  2244  ...
2        NaN      ìˆ˜ë ¥    64    51    49    60    41    55    52    54  ...
3        NaN      í™”ë ¥   484   573   696   803  1022  1122  1264  1420  ...
4        NaN     ì›ìë ¥   529   563   565   581   587   670   739   771  ...
5        NaN     ì‹ ì¬ìƒ     -     -     -     -     -     -     -     -  ...
6         ë¶í•œ      í•©ê³„   277   263   247   221   231   230   213   193  ...
7        NaN      ìˆ˜ë ¥   156   150   142   133   138   142   125   107  ...
8        NaN      í™”ë ¥   121   113   105    88    93    88    88    86  ...
9        NaN     ì›ìë ¥     -     -     -     -     -     -     -     -  ...

     19    20    21    22    23    24    25    26    27    28
0  2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
1  4031  4224  4336  4747  4969  5096  5171  5220  5281  5404
2    50    56    56    65    78    77    84    78    58    66
3  2551  2658  2802  3196  3343  3430  3581  3427  3402  3523
4  1429  1510  1478  1486  1547  1503  1388  1564  1648  1620
5     -     -     -     -     -    86   118   151   173   195
6   236   255   235   237   211   215   221   216   190   239
7   133   141   125   134   132   135   139   130   100   128
8   103   114   110   103    79    80    82    86    90   111
9     -     -     -     -     -     -     -     -     -     -

[10 rows x 29 columns]

###**<font color = 'red'> ğŸ¹ğŸ¾ Read and write the html format**
- visit a webpage.
 - e.g., google.com â¡ï¸ hold <CONTROL> + Click â¡ï¸ save as <Google> with the format of <Webpage, HTML Only> â¡ï¸ hit Upload â¡ï¸ select the <Google.html>
>
- [ì •ë³´ë¬¸í™”ì‚¬ íŒŒì´ì¬ ë¨¸ì‹ ëŸ¬ë‹ íŒë‹¤ìŠ¤ ë°ì´í„° ë¶„ì„](http://www.infopub.co.kr/new/include/detail.asp?sku=05000266) â¡ï¸ ìƒ˜í”Œìë£Œ ë‹¤ìš´ë¡œë“œ (ìš°ì¸¡ í•˜ë‹¨)

In [9]:
import pandas as pd

url = "/content/sample_data/sample.html"

#html ì›¹í˜ì´ì§€ì˜ í‘œë¥¼ ê°€ì ¸ì™€ì„œ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜
tables = pd.read_html(url)

#í‘œ ê°œìˆ˜ í™•ì¸
print(len(tables))
print('\n')

#í‘œ ë¦¬ìŠ¤íŠ¸ì˜ ì›ì†Œë¥¼ ë°˜ë³µí•˜ë©´ì„œ (interating the element of the table list) í™”ë©´ ì¶œë ¥
for i in range(len(tables)):
  print("tables[%s]" %i)
  print(tables[i])
  print('\n')

#íŒŒì´ì¬ íŒ¨í‚¤ì§€ ì •ë³´ê°€ ë“¤ì–´ ìˆëŠ” ë‘ ë²ˆì§¸ ë°ì´í„°í”„ë ˆì„ì„ ì„ íƒí•˜ì—¬ df ë³€ìˆ˜ì— ì €ì¥
df = tables[i]

#name ì—´ì„ ì¸ë±ìŠ¤ë¡œ ì €ì¥
df.set_index(['name'], inplace = True)
print(df)

2


tables[0]
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9


tables[1]
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True


            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True